@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="card shadow-lg p-4" style="max-width: 600px; width: 100%;">
        <div class="text-center mb-4">
            <h1 class="display-4 text-primary fw-bold">Bienvenido</h1>
        </div>
        <p class="lead text-secondary mb-4">
            En esta app puedes probar las recomendaciones para una lista de usuarios, pero si desea puede crear un usuario, interactuar con los productos y recibir recomendaciones.<br>
            También puede análizar opiniones.
            <br>-cliente1@gmail.com
            <br>-cliente2@gmail.com
            <br>-cliente3@gmail.com
            <br>-cliente4@gmail.com
            <br>-cliente5@gmail.com
            <br>-cliente6@gmail.com
            <br>-cliente7@gmail.com
            <br>-cliente8@gmail.com
            <br>-cliente9@gmail.com
            <br>-cliente10@gmail.com
        </p>
        <div class="bg-white border rounded p-3">
            <div class="fw-semibold mb-2 text-dark">Usuarios de prueba:</div>
            <ul class="list-group
